<div class="content" role="main">
  <h2>Form Example</h2>

  <div class="card-container">
    <form
      *ngIf="formState$ | async as formState"
      [ngrxFormState]="formState"
      novalidate
      class="vertical-form"
    >
      <div class="vertical-fields">
        <h3>mat-radio-group</h3>
        <mat-radio-group
          id="group-gender"
          required
          name="gender"
          [ngrxFormControlState]="formState.controls.gender"
        >
          <label for="group-gender" id="gender">Gender</label>
          <mat-radio-button aria-labelledby="gender" role="radio" value="F"
            >Female
          </mat-radio-button>
          <mat-radio-button aria-labelledby="gender" role="radio" value="M"
            >Male
          </mat-radio-button>
          <div></div>
          <mat-error *ngIf="formState.errors['_gender']?.required"
            >Gender is required
          </mat-error>
        </mat-radio-group>

        <h3>mat-input</h3>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            required
            name="name"
            [ngrxFormControlState]="formState.controls.name"
          />
          <mat-hint>Enter your name</mat-hint>
          <mat-error *ngIf="formState.errors['_name']?.required">
            Name is required
          </mat-error>
        </mat-form-field>

        <h3>mat-checkbox</h3>
        <mat-checkbox
          [ngrxFormControlState]="formState.controls.acceptTerms"
          name="acceptTerms"
          >Accept terms</mat-checkbox
        >

        <h3>mat-autocomplete</h3>
        <mat-form-field *ngIf="!!formState.controls.birthDate.value">
          <mat-label>Birth country</mat-label>
          <input
            matInput
            [ngrxFormControlState]="formState.controls.birthCountry"
            [ngrxValueConverter]="countryConverter"
            #birthCountry
            required
            name="birthCountry"
            [matAutocomplete]="autoCountry"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #autoCountry="matAutocomplete"
            [displayWith]="displayCountry"
          >
            <mat-option
              *ngFor="let country of filteredCountries$() | async"
              [value]="country"
            >
              {{ country.label }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Press a key to search a country.</mat-hint>
          <mat-error *ngIf="formState.errors['_birthCountry']?.required">
            Birth country is required
          </mat-error>
          <mat-error *ngIf="formState.errors['_birthCountry']?.noSelection">
            Birth country is not valid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="vertical-fields">
        <h3>mat-datepicker</h3>
        <mat-form-field>
          <mat-label>Today</mat-label>
          <input
            matInput
            [ngrxFormControlState]="formState.controls.today"
            [ngrxValueConverter]="dateConverter"
            [matDatepicker]="todayDatePicker"
            name="today"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="todayDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #todayDatePicker></mat-datepicker>
        </mat-form-field>
        <h3>mat-datepicker in UTC</h3>
        <mat-form-field>
          <mat-label>Birth date</mat-label>
          <input
            matInput
            [ngrxFormControlState]="formState.controls.birthDate"
            [ngrxValueConverter]="dateUtcConverter"
            [matDatepicker]="birthDatePicker"
            required
            name="birthDate"
            [min]="minDate"
            [max]="maxDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="birthDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #birthDatePicker
            startView="year"
            [startAt]="startDate"
          ></mat-datepicker>
          <mat-error *ngIf="formState.errors['_birthDate']?.required">
            Birth date is required
          </mat-error>
          <mat-error *ngIf="formState.errors['_birthDate']?.bornedDate">
            Birth date is invalid
          </mat-error>
        </mat-form-field>

        <h3>mat-datetimepicker</h3>
        <mat-form-field>
          <mat-datetimepicker-toggle
            matSuffix
            [for]="nowPicker"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #nowPicker
            type="datetime"
            [openOnFocus]="true"
            [timeInterval]="5"
          ></mat-datetimepicker>
          <mat-label>Now</mat-label>
          <input
            matInput
            [ngrxFormControlState]="formState.controls.now"
            [ngrxValueConverter]="dateTimeConverter"
            [matDatetimepicker]="nowPicker"
            name="now"
          />
          <mat-error *ngIf="formState.controls.now.isInvalid">
            Now is invalid
          </mat-error>
        </mat-form-field>

        <h3>mat-select</h3>
        <mat-form-field *ngIf="allFruits.length > 0">
          <mat-label>Fruits</mat-label>
          <mat-select
            [ngrxFormControlState]="formState.controls.fruit"
            name="fruit"
            required
          >
            <mat-option></mat-option>
            <mat-option *ngFor="let f of allFruits" [value]="f.code">{{
              f.label
            }}</mat-option>
          </mat-select>
          <mat-hint>Choose a fruit.</mat-hint>
          <mat-error *ngIf="formState.errors['_fruit']?.required">
            Fruit is required.
          </mat-error>
        </mat-form-field>

        <h3>mat-select multiple</h3>
        <mat-form-field *ngIf="allVegetables.length > 0">
          <mat-label>Vegetables</mat-label>
          <mat-select
            name="vegetables"
            [ngrxFormControlState]="formState.controls.vegetables"
            multiple
          >
            <mat-option *ngFor="let v of allVegetables" [value]="v.code">{{
              v.label
            }}</mat-option>
          </mat-select>
          <mat-hint>Choose spme vegetables.</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
