:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  margin: auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.vertical-form {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.vertical-fields {
  display: flex;
  flex-direction: column;
}

.vertical-fields > * {
  margin-bottom: 1em;
}

mat-radio-button {
  margin-right: 0.7em;
}

mat-radio-group label {
  margin-right: 0.7em;
}
